% rebase('base.html', izbrani_zavihek='navodila')

<h5 class="display-4">Navodila za uporabo programa</h5>
<p style="font-size: large;">
    Po vsakem predavanju, ki ste ga obiskali zabeležite ustrezne podatke v zbirko predavanj:
    <ul style="font-size: large;">
        <li>ime predmeta</li>
        <li>tematiko, ki ste jo obravnavali na predavanju</li>
    </ul>
    Na dan ko predavanje zabeležite, snov istočasno tudi ponovite. Ta datum se bo shranil kot datum zadnje ponovitve, hkrati pa bo program izračunal datum naslednje ponovitve <br />
     (kar je po prvi zabeležbi predavanja vedno naslednji dan).
</p>
<p style="font-size: large;">
    V program se prijavite vsak dan (tudi, če na tisti dan niste imeli nobenega predavanja), da preverite ali morate na tisti dan ponoviti kakšno predavanje.
    Snov, ki jo morate ponoviti se izpiše v razdelku <b>Ponovitve</b>. <br />
</p>
<p style="font-size: large;">
    Ko se odločite ponoviti predavanje, poskusite sprva priklicati v spomin čim več podatkov tega predavanja. Preverite ali poznate natančno vse definicije in primere ter ali jih dejansko razumete.
    Uspešnost ponovitve ocenite s pomočjo letvice od 1 do 5. Legenda za ocene je zapisana ob razdelku Ponovitve.
</p>
<p style="background-color:  #dbc5b6; font-size: large;">
    <b>Nasveti za študente matemtike:</b> <br />
    Sproti si beležite seznam definicij, trditev in izrekov (za posamezen izrek si zapišite le kljucno besedo), ki jih obravnavate pri posameznem predmetu. Tako boste ob vsaki ponovitvi brez težav videli ali ste slučajno na kakšen izrek pozabili. <br />
    
    
    <ul style="background-color: #dbc5b6;">
    <b>Primer:</b> <br />
    Predmet: Analiza
        <li>
            Tema: številska zaporedja <br />
            <ul>
                <li>DEFINICIJA zaporedje naravnih števil</li>
                <li>DEFINCIJA natančna zgornja meja</li>
                <li>IZREK "o stekališču zaporedja"</li>
                <li>...</li>
            </ul>
        </li>
        <li>Tema: konvergentna zaporedja</li>
        <li>...</li>
    </ul>
</p>