% rebase('base.html', izbrani_zavihek='program')

<h5 class="display-4">O programu</h5>
<p>
    Preden Pozabim je program namenjen študentom, ki se na svoji akademski poti spopadajo z na videz neobvladljivimi količinami snovi.  
</p>
<table cellspacing="0" style="table-layout: auto; border-color: black;" cellpadding="2">
    <tr>
        <td style="width: fit-content;">
            Program temelji na tako imenovani krivulji pozabljanja, ki jo je v drugi polovici 19. stoletja izdelal nemški psiholog Hermann Ebbinghaus. 
            S svojimi eksperimenti je prišel do spoznanja, da ljudje nove informacije pozabljamo z eksponentno rastjo.
            Natančneje, če takoj po učenju snov obvladamo 100%, ostane po dvajsetih minutah  v našem spominu samo še 58% predelane snovi.
            Če o snovi ne razmišljamo, je ponovno ne preberemo ali ponavljamo, po eni uri pozabimo skoraj 60% snovi.
            Po šestih dneh se spomnimo samo še četrtine, po enem mesecu pa le 21% predelane snovi.
        </td>
        <td style="width: fit-content;">
            <img src="/static/ebbinghaus.png" style="width: 10cm; height: auto;">
        </td>
    </tr>
</table>
<table>
    <tr>
        <td style="width: fit-content;">
            <img src="/static/forgetting-curve.png" style="width: 6cm; height: auto;" alt="Slika 2">
        </td>
        <td style="width: 20cm;">
            Ebbinghaus je prišel do spoznanja, da se z načrtnim ponavljanjem informacije izgubljajo počasneje in tako krivulja pozabljanja z vsako ponovitvijo postane položnejša (glej sliko 2).
            Več o Ebbinghausovi krivulji pozabljanja si preberite na <a href="https://en.wikipedia.org/wiki/Forgetting_curve">strani</a>
        </td>
    </tr>
</table>
<p></p>
<p>
    Študija o krivulji pozabljanja (ang. forgetting curve) in intervalnem učenju (ang. spaced repetition) se je po Ebbinghausu razvijala in nadgrajevala, nastali so številni algoritmi, ki še natančneje izračunajo stopnjo pozabljanja.
</p>
<p>
    Program Preden Pozabi temelji na poenostavljenem algoritmu, ki ga uporablja aplikacija SuperMemo. Algoritem izračuna kdaj je potrebno informacije ponovno ponoviti, da bo njihova izguba čim manjša. Datum naslednje ponovitve izračuna glede na to kdaj smo snov nazadnje ponovili, katera po vrsti je to ponovitev ter kako dobro se snovi spomnimo.
    Več o algoritmu si lahko preberete na <a href="https://www.supermemo.com/en/archives1990-2015/english/ol/sm2">strani.</a>
</p>
<p>
    <b>Opomba:</b> <br />
    Program je le poenostavljena oblika dejanske krivulje pozabljanja in ne deluje natančno, saj na pozabljanje vpliva še veliko faktorjev (kot so težavnost informacij, koliko smo naspani itd.), ki jih ta program ne beleži. Namen programa je predvsem spodbujanje študentov k sprotnem učenju in pomoč pri njegovem načrtovanju.
</p>

